[Desktop Entry]
Type=Application
Name=Structorizer
GenericName=Diagram creator
Comment=Create, edit and run Nassi-Shneiderman diagrams (NSD).
Icon=000_structorizer.png
Exec="/usr/bin/structorizer" %U
TryExec=/usr/bin/structorizer
StartupNotify=false
Terminal=false
MimeType=application/nsd;application/arrz;
Categories=Development;Education;Utility;Graphics;VectorGraphics;ComputerScience;Java;
Keywords=nsd;diagrams;arrz;